<ion-app>
  <ion-content class="ion-padding">
    <div class="login-container">
      <ion-card>
        <ion-card-header>
          <ion-card-title>Login</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          <ion-item>
            <ion-input
              #usernameInput
              label="Username"
              labelPlacement="stacked"
              inputmode="text"
              autocomplete="off">
            </ion-input>
          </ion-item>

          <ion-item>
            <ion-input
              #passwordInput
              label="Password"
              labelPlacement="stacked"
              type="password"
              autocomplete="new-password">
            </ion-input>
          </ion-item>

          <ion-button expand="block" (click)="login()">
            Login
          </ion-button>

          <ion-button expand="block" fill="outline" (click)="quit()">
            Quit
          </ion-button>
        </ion-card-content>
      </ion-card>
    </div>
  </ion-content>
</ion-app>
