<header>
  <mat-toolbar class="bg-blue-400! flex justify-between">
    <div class="flex items-center">
      <img *ngIf="authService.isLoggedIn"
           src="logo.jpg"
           alt="Logo"
           class="w-10 h-10 rounded-full bg-white p-1 shadow-sm object-cover cursor-pointer ml-2 transition-transform hover:scale-105"
           (click)="drawer.toggle()"
      >
    </div>

    <div *ngIf="authService.isLoggedIn" class="flex gap-3 items-center">
      <span routerLink="/profile" class="text-white cursor-pointer">
        {{ authService.authDetail?.email }}
      </span>

      <img [src]="authService.profileImage ?? 'default-avatar.png'"
           alt="User"
           class="w-8 h-8 rounded-full object-cover border border-white shadow-sm cursor-pointer"
           routerLink="/profile"
      >

      <button (click)="authService.logout()" mat-icon-button class="text-white">
        <mat-icon>logout</mat-icon>
      </button>
    </div>
  </mat-toolbar>
</header>

<mat-drawer-container>
  <mat-drawer #drawer class="w-[300px] bg-white shadow-lg" 
              [mode]="'side'" 
              [opened]="authService.isLoggedIn">
    
    <div class="p-4">
      <mat-nav-list class="w-full">

        <!-- Dashboard -->
        <mat-list-item *ngIf="authService.hasRole('SuperAdmin') || authService.hasEntityAccess('ACCUEIL')">
          <mat-icon matListItemIcon>insert_chart</mat-icon>
          <a matListItemTitle routerLink="/" routerLinkActive="active">Accueil</a>
        </mat-list-item>

        <!-- Gestion Chauffeurs -->
        <mat-list-item *ngIf="authService.hasRole('SuperAdmin') || authService.hasEntityAccess('CHAUFFEUR')">
          <mat-icon matListItemIcon>badge</mat-icon>
          <a matListItemTitle routerLink="/drivers" routerLinkActive="active">Gestion des chauffeurs</a>
        </mat-list-item>

        <!-- Gestion Convoyeurs -->
        <mat-list-item *ngIf="authService.hasRole('SuperAdmin') || authService.hasEntityAccess('CONVOYEUR')">
          <mat-icon matListItemIcon>groups</mat-icon>
          <a matListItemTitle routerLink="/convoyeurs" routerLinkActive="active">Gestion des convoyeurs</a>
        </mat-list-item>

        <!-- Gestion Véhicules -->
        <mat-list-item *ngIf="authService.hasRole('SuperAdmin') || authService.hasEntityAccess('TRUCK')">
          <mat-icon matListItemIcon>local_shipping</mat-icon>
          <a matListItemTitle routerLink="/trucks" routerLinkActive="active">Gestion des véhicules</a>
        </mat-list-item>

        <!-- Commandes -->
        <mat-list-item *ngIf="authService.hasRole('SuperAdmin') || authService.hasEntityAccess('ORDER')">
          <mat-icon matListItemIcon>inventory_2</mat-icon>
          <a matListItemTitle routerLink="/orders" routerLinkActive="active">Commandes</a>
        </mat-list-item>

        <!-- Voyages -->
        <mat-list-item *ngIf="authService.hasRole('SuperAdmin') || authService.hasEntityAccess('TRAVEL')">
          <mat-icon matListItemIcon>route</mat-icon>
          <a matListItemTitle routerLink="/trips" routerLinkActive="active">Gestion des voyages</a>
        </mat-list-item>

        <!-- Lieux -->
        <mat-list-item>
          <mat-icon matListItemIcon>location_on</mat-icon>
          <a matListItemTitle routerLink="/locations" routerLinkActive="active">Lieux</a>
        </mat-list-item>

        <!-- Historique des voyages -->
        <mat-list-item *ngIf="authService.hasRole('SuperAdmin') || authService.hasEntityAccess('HISTORIQUE_TRAVEL')">
          <mat-icon matListItemIcon>history</mat-icon>
          <a matListItemTitle routerLink="/historic-trips" routerLinkActive="active">Historique des voyages</a>
        </mat-list-item>

        <!-- Gestion Utilisateurs -->
        <mat-expansion-panel *ngIf="authService.hasRole('SuperAdmin') || authService.hasEntityAccess('USER')" 
                            class="settings-panel">
          <mat-expansion-panel-header>
            <mat-panel-title class="flex items-center gap-3">
              <mat-icon>people</mat-icon>
              <span>Gestion des utilisateurs</span>
            </mat-panel-title>
          </mat-expansion-panel-header>

          <mat-nav-list>
            <mat-list-item *ngIf="authService.hasPermission('VIEW_USERS')">
              <mat-icon matListItemIcon>person</mat-icon>
              <a matListItemTitle routerLink="/user" routerLinkActive="active">Utilisateurs</a>
            </mat-list-item>

            <mat-list-item *ngIf="authService.hasPermission('VIEW_ROLES')">
              <mat-icon matListItemIcon>groups</mat-icon>
              <a matListItemTitle routerLink="/roles" routerLinkActive="active">Groupes d'utilisateurs</a>
            </mat-list-item>

            <mat-list-item *ngIf="authService.hasPermission('VIEW_PERMISSIONS')">
              <mat-icon matListItemIcon>vpn_key</mat-icon>
              <a matListItemTitle routerLink="/permissions" routerLinkActive="active">Permissions</a>
            </mat-list-item>
          </mat-nav-list>
        </mat-expansion-panel>

        <!-- Clients -->
        <mat-list-item *ngIf="authService.hasRole('SuperAdmin') || authService.hasEntityAccess('CUSTOMER')">
          <mat-icon matListItemIcon>manage_accounts</mat-icon>
          <a matListItemTitle routerLink="/customers" routerLinkActive="active">Gestion des clients</a>
        </mat-list-item>

        <!-- Fournisseurs carburant -->
        <mat-list-item *ngIf="authService.hasRole('SuperAdmin') || authService.hasEntityAccess('FUEL_VENDOR')">
          <mat-icon matListItemIcon>local_gas_station</mat-icon>
          <a matListItemTitle routerLink="/fuel-vendors" routerLinkActive="active">Fournisseurs de carburant</a>
        </mat-list-item>

        <!-- Carburant -->
        <mat-list-item *ngIf="authService.hasRole('SuperAdmin') || authService.hasEntityAccess('FUEL')">
          <mat-icon matListItemIcon>factory</mat-icon>
          <a matListItemTitle routerLink="/fuels" routerLinkActive="active">Gestion du carburant</a>
        </mat-list-item>

        <!-- Paramètres Généraux -->
        <mat-expansion-panel class="settings-panel">
          <mat-expansion-panel-header>
            <mat-panel-title class="flex items-center gap-3">
              <mat-icon>settings</mat-icon>
              <span>Paramètres Généraux</span>
            </mat-panel-title>
          </mat-expansion-panel-header>

          <mat-nav-list>
            <!-- Heures Supplémentaires -->
            <mat-list-item>
              <mat-icon matListItemIcon>schedule</mat-icon>
              <a matListItemTitle routerLink="/overtime" routerLinkActive="active">Heures Supplémentaires</a>
            </mat-list-item>

            <!-- Disponibilités des chauffeurs -->
            <mat-list-item>
              <mat-icon matListItemIcon>event_available</mat-icon>
              <a matListItemTitle routerLink="/availability" routerLinkActive="active">Disponibilités des chauffeurs</a>
            </mat-list-item>

            <!-- Disponibilités des camions -->
            <mat-list-item>
              <mat-icon matListItemIcon>local_shipping</mat-icon>
              <a matListItemTitle routerLink="/truck-availability" routerLinkActive="active">Disponibilités des camions</a>
            </mat-list-item>

            <!-- Jours Fériés -->
            <mat-list-item>
              <mat-icon matListItemIcon>event_busy</mat-icon>
              <a matListItemTitle routerLink="/dayoff" routerLinkActive="active">Jours Fériés</a>
            </mat-list-item>

            <!-- Maintenance Submenu -->
            <mat-expansion-panel class="nested-panel">
              <mat-expansion-panel-header>
                <mat-panel-title class="flex items-center gap-3">
                  <mat-icon>build</mat-icon>
                  <span>Maintenance</span>
                </mat-panel-title>
              </mat-expansion-panel-header>

              <mat-nav-list>
                <mat-list-item>
                  <mat-icon matListItemIcon>engineering</mat-icon>
                  <a matListItemTitle routerLink="/mechanics" routerLinkActive="active">Gestion des mécaniciens</a>
                </mat-list-item>

                <mat-list-item>
                  <mat-icon matListItemIcon>store</mat-icon>
                  <a matListItemTitle routerLink="/vendors" routerLinkActive="active">Gestion des vendeurs</a>
                </mat-list-item>

                <mat-list-item>
                  <mat-icon matListItemIcon>engineering</mat-icon>
                  <a matListItemTitle routerLink="/maintenance" routerLinkActive="active">Maintenance Camion</a>
                </mat-list-item>
              </mat-nav-list>
            </mat-expansion-panel>
          </mat-nav-list>
        </mat-expansion-panel>

      </mat-nav-list>
    </div>
  </mat-drawer>

  <mat-drawer-content>
    <main class="min-h-screen bg-gray-100">
      <router-outlet></router-outlet>
    </main>
  </mat-drawer-content>
</mat-drawer-container>

<footer></footer>