<div class="flex justify-center p-8">
  <mat-card class="login-card w-6/12">
    <mat-card-header class="login-header">
      <mat-card-title class="text-white font-semibold mb-2">Profile</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <form class="flex flex-col" [formGroup]="profileForm" (ngSubmit)="onUpdate()">
        <!-- Photo de profil -->
        <div class="w-full mb-5 flex flex-col items-center gap-2">
          <img class="w-[150px] rounded-full" [src]="imageSrc" alt="Profil" />
          <input
            class="bg-gray-400 cursor-pointer p-2 rounded-sm w-[110px]"
            type="file"
            (change)="fileUpload($event)"
          />
        </div>

        <!-- Nom -->
        <mat-form-field class="full-width">
          <mat-label>Name</mat-label>
          <input matInput type="text" formControlName="name" />
          <mat-icon matSuffix>person</mat-icon>
        </mat-form-field>

        <!-- Email -->
        <mat-form-field class="full-width">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" />
          <mat-icon matSuffix>email</mat-icon>
        </mat-form-field>

        <!-- Téléphone -->
        <div class="mat-phone-field w-full mb-4">
          <mat-label class="mat-form-field-label">Phone</mat-label>
          <div class="mat-phone-wrapper">
            <input
              matInput
              formControlName="phone"
              #phoneInput
              [readonly]="isSubmitting"
            />
          </div>
          <mat-error *ngIf="profileForm.get('phone')?.invalid && profileForm.get('phone')?.touched">
            {{ getErrorMessage('phone') }}
          </mat-error>
        </div>

        <!-- Exemple de champ affiché selon rôle ou permission -->
        <div *ngIf="authService.hasRole('SuperAdmin')">
          <mat-form-field class="full-width">
            <mat-label>Special Admin Field</mat-label>
            <input matInput formControlName="specialAdminField" />
          </mat-form-field>
        </div>

        <!-- Mot de passe -->
        <mat-form-field class="full-width">
          <mat-label>Mot de passe</mat-label>
          <input matInput formControlName="password" type="password" />
          <mat-icon matSuffix>lock</mat-icon>
        </mat-form-field>

        <!-- Bouton de mise à jour -->
        <button
          mat-raised-button
          class="bg-green-500 text-white"
          type="submit"
          [disabled]="profileForm.invalid || isSubmitting"
        >
          <mat-spinner *ngIf="isSubmitting" diameter="20" class="inline-block mr-2"></mat-spinner>
          Modifier
        </button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
