<mat-card class="form-card p-8">
  <mat-card-title>
    {{ data.tripId ? 'Modifier Voyage' : 'Ajouter Voyage' }}
  </mat-card-title>

  <form [formGroup]="tripForm" (ngSubmit)="onSubmit()">
    

   <mat-form-field class="w-full">
      <mat-label>Client</mat-label>
      <mat-select formControlName="customerId">
        <mat-option *ngFor="let customer of customers" [value]="customer.id">
          {{ customer.name }} 
          <span *ngIf="customer.email" class="text-gray-500 text-sm">({{ customer.email }})</span>
          <span *ngIf="customer.phone" class="text-gray-500 text-sm"> - {{ customer.phone }}</span>
        </mat-option>
      </mat-select>
      <mat-error *ngIf="tripForm.get('customerId')?.hasError('required')">
        La sélection d'un client est obligatoire
      </mat-error>
    </mat-form-field>


    <mat-form-field class="w-full">
      <mat-label>Date de Début</mat-label>
      <input 
        matInput
        [matDatepicker]="startDatePicker"
        formControlName="tripStartDate"
      />
      <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
      <mat-datepicker #startDatePicker></mat-datepicker>
      <mat-error *ngIf="tripForm.get('tripStartDate')?.hasError('required')">
        La date de début est obligatoire
      </mat-error>
    </mat-form-field>


    <mat-form-field class="w-full">
      <mat-label>Date de Fin</mat-label>
      <input 
        matInput
        [matDatepicker]="endDatePicker"
        formControlName="tripEndDate"
      />
      <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
      <mat-datepicker #endDatePicker></mat-datepicker>
      <mat-error *ngIf="tripForm.get('tripEndDate')?.hasError('required')">
        La date de fin est obligatoire
      </mat-error>
    </mat-form-field>


    <mat-form-field class="w-full">
      <mat-label>Type de Voyage</mat-label>
      <mat-select formControlName="tripType">
        <mat-option *ngFor="let type of tripTypes" [value]="type.value">
          {{ type.label }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="tripForm.get('tripType')?.hasError('required')">
        Le type de voyage est obligatoire
      </mat-error>
    </mat-form-field>


    <mat-form-field class="w-full">
      <mat-label>Camion</mat-label>
      <mat-select formControlName="truckId">
        <mat-option *ngFor="let truck of trucks" [value]="truck.id">
          {{ truck.immatriculation }} - {{ truck.brand }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="tripForm.get('truckId')?.hasError('required')">
        La sélection d'un camion est obligatoire
      </mat-error>
    </mat-form-field>

 
    <mat-form-field class="w-full">
      <mat-label>Chauffeur</mat-label>
      <mat-select formControlName="driverId">
        <mat-option *ngFor="let driver of drivers" [value]="driver.id">
          {{ driver.name }} 
        </mat-option>
      </mat-select>
      <mat-error *ngIf="tripForm.get('driverId')?.hasError('required')">
        La sélection d'un chauffeur est obligatoire
      </mat-error>
    </mat-form-field>


    <mat-form-field class="w-full">
      <mat-label>Lieu de Départ</mat-label>
      <input matInput formControlName="tripStartLocation" />
      <mat-error *ngIf="tripForm.get('tripStartLocation')?.hasError('required')">
        Le lieu de départ est obligatoire
      </mat-error>
    </mat-form-field>


    <mat-form-field class="w-full">
      <mat-label>Lieu d'Arrivée</mat-label>
      <input matInput formControlName="tripEndLocation" />
      <mat-error *ngIf="tripForm.get('tripEndLocation')?.hasError('required')">
        Le lieu d'arrivée est obligatoire
      </mat-error>
    </mat-form-field>


    <mat-form-field class="w-full">
      <mat-label>Distance Approximative (KM)</mat-label>
      <input matInput type="number" formControlName="approxTotalKM" min="0" step="0.1" />
    </mat-form-field>


    <mat-form-field class="w-full">
      <mat-label>Kilométrage de Départ</mat-label>
      <input matInput type="number" formControlName="startKmsReading" />
      <mat-error *ngIf="tripForm.get('startKmsReading')?.hasError('required')">
        Le kilométrage de départ est obligatoire
      </mat-error>
      <mat-error *ngIf="tripForm.get('startKmsReading')?.hasError('min')">
        Le kilométrage doit être positif
      </mat-error>
    </mat-form-field>


    <mat-form-field class="w-full">
      <mat-label>Statut du Voyage</mat-label>
      <mat-select formControlName="tripStatus">
        <mat-option *ngFor="let status of tripStatuses" [value]="status.value">
          {{ status.label }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="tripForm.get('tripStatus')?.hasError('required')">
        Le statut du voyage est obligatoire
      </mat-error>
    </mat-form-field>

    <div class="flex justify-center mt-4 space-x-4">
      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="tripForm.invalid"
      >
        {{ data.tripId ? 'Modifier' : 'Ajouter' }}
      </button>

      <button mat-button type="button" (click)="onCancel()">
        Annuler
      </button>
    </div>
  </form>
</mat-card>