<h2 class="mb-4 text-xl font-bold">Gestion des Permissions</h2>

<mat-accordion *ngIf="roles.length > 0">

<mat-expansion-panel *ngFor="let module of modules">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Module {{ module.name }}
      </mat-panel-title>
    </mat-expansion-panel-header>

    <table class="permission-table">
      <thead>
        <tr>
          <th>Action</th>
          <th *ngFor="let role of roles">{{ role.name }}</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><strong>Tout autoriser</strong></td>
          <td *ngFor="let role of roles">
            <mat-checkbox
              [checked]="isModuleChecked(role, module)"
              (change)="toggleModule(role, module, $event.checked)">
            </mat-checkbox>
          </td>
        </tr>
        <tr *ngFor="let action of module.actions">
          <td>{{ action.label }}</td>
         <td *ngFor="let role of roles">
<mat-checkbox
  [disabled]="role.name === 'SuperAdmin'"
  [(ngModel)]="role.permissions[module.key + '_' + action.key]">
</mat-checkbox>

</td>
        </tr>
      </tbody>
    </table>

  </mat-expansion-panel>
</mat-accordion>

<button mat-raised-button color="primary" class="mt-4" (click)="save()">
  Sauvegarder
</button>
