// Les règles @use DOIVENT être en premier
@use '@angular/material' as mat;
@import "tailwindcss";

// Ensuite les mixins et includes
@include mat.core();
@include mat.theme((
  color: (
    primary: mat.$azure-palette,
    tertiary: mat.$blue-palette,
  ),
  typography: Roboto,
  density: 0,
));

// Global styles
html, body { 
  height: 100%; 
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  
  // Material 3 theme variables
  color-scheme: light;
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);
}