<div class="scroll-container">
  <mat-card class="form-card p-8">
    <mat-card-title>
      {{ isEditing ? 'Modifier Client' : 'Ajouter Client' }}
    </mat-card-title>

    <form [formGroup]="customerForm" (ngSubmit)="onSubmit()">

      <mat-form-field class="w-full">
        <mat-label>Nom Complet</mat-label>
        <input matInput formControlName="name" placeholder="e.g., Monoprix" [readonly]="isSubmitting">
        <mat-error *ngIf="customerForm.get('name')?.invalid && customerForm.get('name')?.touched">
          {{ getErrorMessage('name') }}
        </mat-error>
      </mat-form-field>

      <mat-form-field class="w-full">
        <mat-label>Matricule</mat-label>
        <input matInput formControlName="matricule" placeholder="Ex : MAT-00123" [readonly]="isSubmitting">
        <mat-error *ngIf="customerForm.get('matricule')?.invalid && customerForm.get('matricule')?.touched">
          {{ getErrorMessage('matricule') }}
        </mat-error>
      </mat-form-field>

      <div class="mat-phone-field w-full">
        <div class="mat-phone-wrapper">
          <input matInput formControlName="phone" #phoneInput [readonly]="isSubmitting" />
        </div>
        <mat-error *ngIf="customerForm.get('phone')?.invalid && customerForm.get('phone')?.touched">
          {{ getErrorMessage('phone') }}
        </mat-error>
      </div>

      <mat-form-field class="w-full">
        <mat-label>Email</mat-label>
        <input matInput type="email" formControlName="email" placeholder="e.g., jean.dupont@example.com" [readonly]="isSubmitting">
        <mat-error *ngIf="customerForm.get('email')?.invalid && customerForm.get('email')?.touched">
          {{ getErrorMessage('email') }}
        </mat-error>
      </mat-form-field>

      <mat-form-field class="w-full">
        <mat-label>Adresse</mat-label>
        <textarea matInput formControlName="adress" placeholder="e.g., 123 Rue Principale, Paris, France" [readonly]="isSubmitting" rows="3"></textarea>
        <mat-error *ngIf="customerForm.get('adress')?.invalid && customerForm.get('adress')?.touched">
          {{ getErrorMessage('adress') }}
        </mat-error>
      </mat-form-field>
      
      <mat-form-field class="w-full">
        <mat-label>Gouvernorat</mat-label>
        <textarea matInput formControlName="gouvernorat" placeholder="gouvernorat" [readonly]="isSubmitting" rows="3"></textarea>
        <mat-error *ngIf="customerForm.get('gouvernorat')?.invalid && customerForm.get('gouvernorat')?.touched">
          {{ getErrorMessage('gouvernorat') }}
        </mat-error>
      </mat-form-field>

      <mat-form-field class="w-full">
        <mat-label>Contact</mat-label>
        <textarea matInput formControlName="contact" placeholder="contact" [readonly]="isSubmitting" rows="3"></textarea>
        <mat-error *ngIf="customerForm.get('contact')?.invalid && customerForm.get('contact')?.touched">
          {{ getErrorMessage('contact') }}
        </mat-error>
      </mat-form-field>

      <mat-form-field class="w-full">
        <mat-label>Zone</mat-label>
        <textarea matInput formControlName="zone" placeholder="zone" [readonly]="isSubmitting" rows="3"></textarea>
        <mat-error *ngIf="customerForm.get('zone')?.invalid && customerForm.get('zone')?.touched">
          {{ getErrorMessage('zone') }}
        </mat-error>
      </mat-form-field>

      <div class="flex justify-center mt-4 space-x-4">
        <button mat-raised-button color="primary" type="submit" [disabled]="customerForm.invalid || isSubmitting">
          <mat-spinner *ngIf="isSubmitting" diameter="20" class="inline-block mr-2"></mat-spinner>
          {{ isEditing ? 'Modifier' : 'Ajouter' }}
        </button>

        <button mat-button type="button" (click)="onCancel()" [disabled]="isSubmitting">
          Annuler
        </button>
      </div>
    </form>
  </mat-card>
</div>
